<nav
  class="navbar navbar-expand-lg navbar-light text-light"
  style="background-color: rgb(0, 75, 154); border-color: red; margin: 5px"
>
  <div class="container-fluid">
    <h4 href="#">RTO Tracker</h4>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form class="d-flex">
        <img
          src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png"
          width="40px"
          alt=""
        />
        &nbsp;
        <h5 class="mb-0 me-5 ms-1" style="margin-bottom: 0px; margin-top: 7px">
          {{ firstName }}
        </h5>

        <div class="dropdown">
          <button
            class="btn"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="26"
              height="26"
              fill="white"
              class="bi bi-list"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
              />
            </svg>
          </button>
          <div
            class="dropdown-menu me-5"
            style="margin-left: -280%"
            aria-labelledby="dropdownMenuButton1"
          >
            <p class="dropdown-item">Profile</p>
            <p class="dropdown-item">Log out</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
